RewriteEngine On

#accpet loading of actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#send everything else to the index page if not valid
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]